* {
    margin: 0;
    padding: 0;
}
.numQueue div {
    display: inline-block;
    background: indianred;
    margin: 1em;
    width: 40px;
    vertical-align: bottom;
    text-align: center;

}
.numQueue .active {
    background-color: yellow;
}
.numQueue .success {
    background-color: blueviolet;
}